/* Full page dark background */
body {
      background-color: #121212;
}
.register-wrapper {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main registration card box */
.register-box {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  padding: 50px;
  border-radius: 20px;
  width: 500px;
  border: 1px solid #334155;
  color: #cbd5e1;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
  margin-left: 32rem;
}

/* Title text */
.register-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
}

/* Inputs styling */
.register-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  background-color: #0b1120;
  border: 1px solid #334155;
  border-radius: 10px;
  color: #e2e8f0;
  transition: all 0.25s ease;
}

.register-input::placeholder {
  color: #94a3b8;
}

.register-input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 6px rgba(37, 99, 235, 0.6);
  outline: none;
}

/* Register button */
.register-btn {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  transition: 0.25s;
}

.register-btn:hover {
  background-color: #1e40af;
}

/* Bottom text link */
.register-bottom-text {
  color: #cbd5e1;
  text-align: center;
  margin-top: 15px;
}

.register-bottom-text a {
  color: #60a5fa;
  font-weight: 600;
  margin-left: 5px;
}

#role {
  width: 32.9rem;
}
#register-btn {
      width: 32.9rem;
}
